<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.TalkNowTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyUserInfoOnConnectingScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyInfoOnConnectedScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isFindingPartnerScreenAfterThumbsupForSecondUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isFindingPartnerScreenAfterThumbsupForFirstUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isHomeAfterStopeConnectingForFirstUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyInfoOnRateScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isHomeAfterStopeConnectingForSecondUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isFindingPartnerScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isConnectedScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isConnectingScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isCallExtendForSecondTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UserOnRateCall</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>talkNowDisabled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isCallExtendForFirstTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isComplementScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>talkNowEnabled</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
