<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.UserOnRateCall()[pri:0, instance:test.TalkNowTests@2f686d1f]">UserOnRateCall</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.isCallExtendForFirstTime()[pri:0, instance:test.TalkNowTests@2f686d1f]">isCallExtendForFirstTime</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.isCallExtendForSecondTime()[pri:0, instance:test.TalkNowTests@2f686d1f]">isCallExtendForSecondTime</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.isComplementScreen()[pri:0, instance:test.TalkNowTests@2f686d1f]">isComplementScreen</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>-26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.isConnectedScreen()[pri:0, instance:test.TalkNowTests@2f686d1f]">isConnectedScreen</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>-41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.isConnectingScreen()[pri:0, instance:test.TalkNowTests@2f686d1f]">isConnectingScreen</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>-48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.isFindingPartnerScreen()[pri:0, instance:test.TalkNowTests@2f686d1f]">isFindingPartnerScreen</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.isFindingPartnerScreenAfterThumbsupForFirstUser()[pri:0, instance:test.TalkNowTests@2f686d1f]">isFindingPartnerScreenAfterThumbsupForFirstUser</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.isFindingPartnerScreenAfterThumbsupForSecondUser()[pri:0, instance:test.TalkNowTests@2f686d1f]">isFindingPartnerScreenAfterThumbsupForSecondUser</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.isHomeAfterStopeConnectingForFirstUser()[pri:0, instance:test.TalkNowTests@2f686d1f]">isHomeAfterStopeConnectingForFirstUser</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.isHomeAfterStopeConnectingForSecondUser()[pri:0, instance:test.TalkNowTests@2f686d1f]">isHomeAfterStopeConnectingForSecondUser</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>-66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.talkNowDisabled()[pri:0, instance:test.TalkNowTests@2f686d1f]">talkNowDisabled</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>-53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.talkNowEnabled()[pri:0, instance:test.TalkNowTests@2f686d1f]">talkNowEnabled</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.verifyInfoOnConnectedScreen()[pri:0, instance:test.TalkNowTests@2f686d1f]">verifyInfoOnConnectedScreen</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.verifyInfoOnRateScreen()[pri:0, instance:test.TalkNowTests@2f686d1f]">verifyInfoOnRateScreen</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/08/01 12:53:43</td>   <td>-33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkNowTests.verifyUserInfoOnConnectingScreen()[pri:0, instance:test.TalkNowTests@2f686d1f]">verifyUserInfoOnConnectingScreen</td> 
  <td>main@1386767190</td>   <td></td> </tr>
</table>
