<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.TalkRequestTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyingTalkRequestInfoInReceivedRequestsForSecondUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyUserInfoOnConnectingScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyInfoOnConnectedScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isCallIdInCallLogDB</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isCallIdInMissCallLogDB</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ExtendForFirstTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingTalkRequestInfoInSentRequests</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingUserInfoInMyTalkCircle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyingUserInfoInMyTalkCircleAfterRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyInfoOnRateScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isFindingPartnerScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ExtendCallEnabled</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isCreatsTalkRequestScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isConnectedScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isCallExtendForSecondTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UserOnRateCall</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isSentReceivedScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isComplementScreen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isSentReceviedScreenAfterThumbsupForSecondUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isSentReceviedScreenAfterThumbsupForFirstUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isMyTalkCircleAfterCreatingTalkRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>isMyTalkCircle</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
