<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke Tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f99ea">  <td>18/08/16 19:40:33</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.OpenApp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test.TalkRequestTests@490ab905]">&gt;&gt;OpenApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:44:12</td>   <td>219160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isMyTalkCircle()[pri:0, instance:test.TalkRequestTests@490ab905]">isMyTalkCircle</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:44:20</td>   <td>227512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.verifyingUserInfoInMyTalkCircle()[pri:0, instance:test.TalkRequestTests@490ab905]">verifyingUserInfoInMyTalkCircle</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:44:21</td>   <td>228189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isCreatsTalkRequestScreen()[pri:0, instance:test.TalkRequestTests@490ab905]">isCreatsTalkRequestScreen</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:44:23</td>   <td>230864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isMyTalkCircleAfterCreatingTalkRequest()[pri:0, instance:test.TalkRequestTests@490ab905]">isMyTalkCircleAfterCreatingTalkRequest</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:44:35</td>   <td>242510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.verifyingUserInfoInMyTalkCircleAfterRequest()[pri:0, instance:test.TalkRequestTests@490ab905]">verifyingUserInfoInMyTalkCircleAfterRequest</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:44:36</td>   <td>243314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isSentReceivedScreen()[pri:0, instance:test.TalkRequestTests@490ab905]">isSentReceivedScreen</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:44:58</td>   <td>265678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.verifyingTalkRequestInfoInSentRequests()[pri:0, instance:test.TalkRequestTests@490ab905]">verifyingTalkRequestInfoInSentRequests</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:45:02</td>   <td>269784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.verifyingTalkRequestInfoInReceivedRequestsForSecondUser()[pri:0, instance:test.TalkRequestTests@490ab905]">verifyingTalkRequestInfoInReceivedRequestsForSecondUser</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:45:08</td>   <td>275041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isFindingPartnerScreen()[pri:0, instance:test.TalkRequestTests@490ab905]">isFindingPartnerScreen</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:45:09</td>   <td>276912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isCallIdInMissCallLogDB()[pri:0, instance:test.TalkRequestTests@490ab905]">isCallIdInMissCallLogDB</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:10</td>   <td>337052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.verifyUserInfoOnConnectingScreen()[pri:0, instance:test.TalkRequestTests@490ab905]">verifyUserInfoOnConnectingScreen</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:16</td>   <td>343350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isConnectedScreen()[pri:0, instance:test.TalkRequestTests@490ab905]">isConnectedScreen</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:17</td>   <td>344360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.verifyInfoOnConnectedScreen()[pri:0, instance:test.TalkRequestTests@490ab905]">verifyInfoOnConnectedScreen</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:18</td>   <td>345367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.ExtendCallEnabled()[pri:0, instance:test.TalkRequestTests@490ab905]">ExtendCallEnabled</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:19</td>   <td>346379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.ExtendForFirstTime()[pri:0, instance:test.TalkRequestTests@490ab905]">ExtendForFirstTime</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:20</td>   <td>347386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isCallExtendForSecondTime()[pri:0, instance:test.TalkRequestTests@490ab905]">isCallExtendForSecondTime</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:45</td>   <td>372027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.UserOnRateCall()[pri:0, instance:test.TalkRequestTests@490ab905]">UserOnRateCall</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:46</td>   <td>373047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.verifyInfoOnRateScreen()[pri:0, instance:test.TalkRequestTests@490ab905]">verifyInfoOnRateScreen</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:47</td>   <td>374059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isComplementScreen()[pri:0, instance:test.TalkRequestTests@490ab905]">isComplementScreen</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:48</td>   <td>375072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isSentReceviedScreenAfterThumbsupForFirstUser()[pri:0, instance:test.TalkRequestTests@490ab905]">isSentReceviedScreenAfterThumbsupForFirstUser</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:46:52</td>   <td>379078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isSentReceviedScreenAfterThumbsupForSecondUser()[pri:0, instance:test.TalkRequestTests@490ab905]">isSentReceviedScreenAfterThumbsupForSecondUser</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/08/16 19:48:40</td>   <td>487733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TalkRequestTests.isCallIdInCallLogDB()[pri:0, instance:test.TalkRequestTests@490ab905]">isCallIdInCallLogDB</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="9f99ea">  <td>18/08/16 19:48:41</td>   <td>488257</td> <td>&nbsp;</td><td title="&lt;&lt;TestBase.closeApp()[pri:0, instance:test.TalkRequestTests@490ab905]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
</table>
