<h2>Reporter output</h2><table><tr><td>Setting the Desired Capabilities.</td></tr>
<tr><td>URl - http://127.0.0.1:8002/wd/hub</td></tr>
<tr><td>Initializing User's AndroidDriver.</td></tr>
<tr><td>Setting the Desired Capabilities.</td></tr>
<tr><td>URl - http://127.0.0.1:8003/wd/hub</td></tr>
<tr><td>Initializing User's AndroidDriver.</td></tr>
<tr><td>User clicking on the Login button.</td></tr>
<tr><td>Entering email.</td></tr>
<tr><td>Clicking on the Login button.</td></tr>
<tr><td>Entering password.</td></tr>
<tr><td>Clicking on the Login button.</td></tr>
<tr><td>Clicking on the continue button.</td></tr>
<tr><td>User is already Logged In.</td></tr>
<tr><td>User clicking on the Login button.</td></tr>
<tr><td>Entering email.</td></tr>
<tr><td>Clicking on the Login button.</td></tr>
<tr><td>Entering password.</td></tr>
<tr><td>Clicking on the Login button.</td></tr>
<tr><td>Clicking on the continue button.</td></tr>
<tr><td>User is already Logged In.</td></tr>
<tr><td>Verifying that the user is on my talk circle.</td></tr>
<tr><td>Clicking on Home button.</td></tr>
<tr><td>Selecting MyTalk circle.</td></tr>
<tr><td>Verifying user info in my talk circle.</td></tr>
<tr><td>Getting connecting username.</td></tr>
<tr><td>Peter</td></tr>
<tr><td>Getting opentalks.</td></tr>
<tr><td>1 Opentalks | 1 mins</td></tr>
<tr><td>Getting the Location.</td></tr>
<tr><td>India</td></tr>
<tr><td>Getting the Request to Talk text.</td></tr>
<tr><td>Edit Request</td></tr>
<tr><td>username visible in mytalk circle - > Peter</td></tr>
<tr><td>opentalks  - > 1 Opentalks | 1 mins</td></tr>
<tr><td>location  - > India</td></tr>
<tr><td>text  - > Edit Request</td></tr>
<tr><td>Verifying that by clicking on the + icon the user is redirected to the Request to Talk screen.</td></tr>
<tr><td>User clicking on + icon.</td></tr>
<tr><td>Verifying that the user is on my talk circle after creating a talk request.</td></tr>
<tr><td>Adding a note.</td></tr>
<tr><td>Clicking on the create button.</td></tr>
<tr><td>Verifying user info in my talk circle after creating talk request.</td></tr>
<tr><td>Getting connecting username.</td></tr>
<tr><td>Peter</td></tr>
<tr><td>Getting opentalks.</td></tr>
<tr><td>1 Opentalks | 1 mins</td></tr>
<tr><td>Getting the Location.</td></tr>
<tr><td>India</td></tr>
<tr><td>Getting the Request to Talk text.</td></tr>
<tr><td>Edit Request</td></tr>
<tr><td>username visible in mytalk circle - > Peter</td></tr>
<tr><td>opentalks  - > 1 Opentalks | 1 mins</td></tr>
<tr><td>location  - > India</td></tr>
<tr><td>text  - > Edit Request</td></tr>
<tr><td>Verifying that the user is on sent received screen after creating a talk request icon.</td></tr>
<tr><td>User clicking on Talk request icon.</td></tr>
<tr><td>User clicking on the No button.</td></tr>
<tr><td>Verifying talk request info in sent requests.</td></tr>
<tr><td>User clicking on Sent tab.</td></tr>
<tr><td>Getting username.</td></tr>
<tr><td>user name is -> Peter</td></tr>
<tr><td>Getting circle name.</td></tr>
<tr><td>circle name is -> My Talk Circle</td></tr>
<tr><td>username visible in sent request - > Peter</td></tr>
<tr><td>circleName is  - > My Talk Circle</td></tr>
<tr><td>Verifying talk request info in recevied requests for the second user.</td></tr>
<tr><td>User clicking on Talk request icon.</td></tr>
<tr><td>User clicking on the No button.</td></tr>
<tr><td>Getting username.</td></tr>
<tr><td>user name is -> Saurabh</td></tr>
<tr><td>Getting circle name.</td></tr>
<tr><td>circle name is -> My Talk Circle</td></tr>
<tr><td>Getting location.</td></tr>
<tr><td>Location is -> Jaipur, Rajasthan, India</td></tr>
<tr><td>username visible in recevied requests - > Saurabh</td></tr>
<tr><td>circleName is in recevied request  - > My Talk Circle</td></tr>
<tr><td>requester location is  - > Jaipur, Rajasthan, India</td></tr>
<tr><td>Verifying that the user is on finding partner.</td></tr>
<tr><td>User clicking on the call icon.</td></tr>
<tr><td>Call Id is - > 1534428904245</td></tr>
<tr><td>Getting Call Id - 1534428904245</td></tr>
<tr><td>Verifying that the call id is there in miss call log DB.</td></tr>
<tr><td>Verify the response of miss call API.</td></tr>
<tr><td>Base URL is https://staging101.getopentalk.com/v5/</td></tr>
<tr><td>respone - {"call_details":{"version":1,"call_id":16452,"date":"2018-08-16","created_at":1534428960000,"request_user_id":652,"receiver_user_id":651,"topic_id":-1,"requester_topic_id":-1,"receiver_topic_id":-1,"call_type":"talk_request","reason":"{\"651\":{\"1534428960\":{\"reason\":\"CALL_WAITING_FOR_STREAMS : \",\"connection_time\":\"50000\",\"version_name\":\"82\",\"network\":\"WiFi\",\"tokbox_state\":\"\"}}}","unique_id":"1534428904245","opentok_call_id":"1_MX40NjE3MTg3Mn5-MTUzNDQyODkwNTIzMH5idDFXOVpXcnkvbDRCb1VCYkM1WXFaR2V-UH4","reason_status":4}}</td></tr>
<tr><td>Verifying the response code.</td></tr>
<tr><td>response code is 200</td></tr>
<tr><td>Verifying the reason status.</td></tr>
<tr><td>reason Status is - 4</td></tr>
<tr><td>Verifying the call type.</td></tr>
<tr><td>Call type is talk_request</td></tr>
<tr><td>The user clicking on the call icon.</td></tr>
<tr><td>User clicking on the call icon.</td></tr>
<tr><td>Verifying the connecting user info.</td></tr>
<tr><td>Getting connecting username.</td></tr>
<tr><td>Getting connecting user's languages.</td></tr>
<tr><td>Getting connecting user's topic.</td></tr>
<tr><td>Connecting username - > Saurabh</td></tr>
<tr><td>Connecting user language  - > Speaks: Bali, Spanish</td></tr>
<tr><td>Connecting user topic  - > Reconnect Request</td></tr>
<tr><td>Verifying that the call connected screen is visible after the call connecting screen when call connects.</td></tr>
<tr><td>Verifying the connected user info.</td></tr>
<tr><td>Getting connected username.</td></tr>
<tr><td>Verifying that extend call button is enabled.</td></tr>
<tr><td>Connection refused: connect
Build info: version: '3.6.0', revision: '6fbf3ec767', time: '2017-09-27T15:28:36.4Z'
System info: host: 'SAURABH', ip: '192.168.9.119', os.name: 'Windows 8.1', os.arch: 'amd64', os.version: '6.3', java.version: '1.8.0_131'
Driver info: driver.version: AppiumDriver</td></tr>
<tr><td>Verifying that call extends when auser clicks on the extend call button .</td></tr>
<tr><td>Getting remaining time. </td></tr>
<tr><td>Verifying that call extends when auser clicks on the extend call button .</td></tr>
<tr><td>Getting remaining time. </td></tr>
<tr><td>Remaining Time in String -> 04</td></tr>
<tr><td>Time before extend -> 4</td></tr>
<tr><td>User clicking on the extend call button.</td></tr>
<tr><td>Getting remaining time. </td></tr>
<tr><td>Remaining Time in String -> 06</td></tr>
<tr><td>Time after extend -> 6</td></tr>
<tr><td>Verifying the connected user info on rate call screen.</td></tr>
<tr><td>Getting connecting username.</td></tr>
<tr><td>Verifying that the user on complement screen after clicks  on thumbs up.</td></tr>
<tr><td>Clicking on the thumbs up button.</td></tr>
<tr><td>Verifying that the user on sent recevied screen after submit.</td></tr>
<tr><td>Verifying that the user on sent recevied screen after submit..</td></tr>
<tr><td>Verifying that the call id is there in call log DB.</td></tr>
<tr><td>Verify the response of Call Connected API.</td></tr>
<tr><td>Base URL is https://staging101.getopentalk.com/v5/</td></tr>
<tr><td>respone - {}</td></tr>
<tr><td>Verifying the response code.</td></tr>
<tr><td>response code is 200</td></tr>
<tr><td>Verifying the disconnect by.</td></tr>
</table>